*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(112, 116, 128, 0.795);

    border-right: 2px solid rgba(22, 172, 130, 0.25);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-header{
    margin-left: 0px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(118, 186, 212, 0.719);
    border: 2px solid black;

    width: 80vw;
    gap: 4px;
    display: flex;
    justify-content: space-between; 
    align-items: center;

    user-select: none; 

    transition:0.5s ease;
}

.card-header:hover{
    cursor: grab;
    transform: scale(1.009) rotate(0.01deg);
    box-shadow: 5px 5px 40px rgba(137, 37, 184, 0.568);
}

.card-header:active{
    cursor: grabbing;
    transform: scale(1.018) rotate(-0.03deg);
    transition: box-shadow 1s ease;
    box-shadow: 5px 5px 4px rgba(137, 37, 184, 0.568);

}


.card-header img{
    margin: 10px 22px;
    min-width: 100px;
    min-height: 150px;
    max-width: 15vw;
    max-height: 20vh;
    border: 4px solid rgb(51, 25, 51);
    border-radius: 100%;

    transition:1s ease;
}

.card-header img:hover{
    cursor: none;
    transform: scale(1.06) rotate(-1.2deg);
}

.card-header, .card-header img:active{
    transition:1.2s ease;
    transform:0.4 ease ;
}

.card-header h1{
    margin-right: 15px;
    transition: 0.5s ease;
}

.card-header h1:hover{
    transform: scale(1.02);

    cursor: none;
}

.sobre{
    display: flex;
    align-items: left;
    text-align: left;

    background-color: rgba(55, 62, 85, 0.233);

    gap: 10px;
    margin: 30px 50px;
    padding: 9px;

    width: 81vw;
    height: 100%;

    border-radius: 10px;
    box-shadow: 1px 1px 30px rgba(131, 47, 131, 0.603);

    cursor: default;

    transition: 0.4s ease;
}

.sobre:hover{
    transform: scale(1.009);
}

.sobre h4{
    margin-top: 10px;
}

.title{
    font-size: 2.6rem;
    margin: 50px 30%;
}

.projects{
    display: flex;
    gap: 8vw;
    padding: 20px;
    width: 90%;
    height: 100%;
    margin: 1vw;
    justify-items: center;
    flex-wrap: wrap;
    
    background-color: rgba(55, 62, 85, 0.03);
    border-left: 10px solid rgba(22, 172, 130, 0.25);
    border-right: 10px solid rgba(22, 172, 130, 0.25);
    border-radius: 10px;

    transition: 0.5s ease;

    position: relative;


    animation-name: entrada;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes entrada{
    0%{
        transform: translateX(-100px);
        opacity: 0;
        gap: 0;
        border-left: 70px solid rgba(22, 172, 130, 0.901);
        border-right: 70px solid rgba(22, 172, 130, 0.901);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
        gap: 8vw;
        border-left: 10px solid rgba(22, 172, 130, 0.25);
        border-right: 10px solid rgba(22, 172, 130, 0.25);
    }
}

.project{
    background-color: rgba(55, 62, 85, 0.233);
    width: 15vw;
    height: 15vh;
    top: 10px;
    right: 10px;
    border-radius: 10px;

    transition: 
        transform 0.3s ease,
        box-shadow 0.5s ease;

    animation-name: projecty-entrada;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

@keyframes projecty-entrada{
    0%{
        transform: scale(1.35) rotate(-360deg);
    }
    100%{
        transform: scale(1) rotate(0deg);
    }
}

.project .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vh;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.637);
}

.project:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(72, 101, 144, 0.603);
}

.project .inf p{
    opacity: 0;
}

.project-active{
    top: 10px;
    right: 10px;
    width: 20vw;
    height: 30vh;

    transition:
        top 0.5s ease,
        right 0.5s ease,
        width 0.5s ease,
        height 0.5s ease,
        background-color 1.5s ease,
        box-shadow 2.5s ease;

    
    background-color: rgba(55, 62, 85, 0.233);
    box-shadow: 0 0 20px rgba(72, 101, 144, 0.791);
    border-radius: 10px;

    
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    animation-name: project-entrada;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
}

@keyframes project-entrada{
    0%{
        transform: translateY(-50px) scale(0.2) rotate(-10deg);
    }
    100%{
        transform: translateY(0) scale(1) rotate(0deg);
    }
}

.project-active .inf{
    cursor:text;
    font-size: 0.8rem;
}

.project-active .inf p{
    opacity: 1;
    transition: opacity 3s ease;
}


.project-active .img{
    display: none;
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.637);
    transition: 0.3s ease;
}

.project-active .img-a{

}

.projects h2{
    font-size: 1.4rem;
    background-color: aqua;
}